body{
    margin: 0;
    background-image:url(nature-wallpapers-1280x1024-00018.jpg) ;

}
.a1{
    display: flex;
    border: cornflowerblue 3px solid;
    font-size: 25px;
    margin-top: 10px;
    margin-left: calc(50% - 150px);
    box-sizing: border-box;
    
    background-color: rgba(3, 86, 214,0);
    width: 300px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    position: absolute;
    

}
p{
    border: 0px solid rgb(104, 129, 241);
    background: rgba(2, 85, 213,1);
    text-align: center;
    font-size: 20px;
    width: 150px;
    height: 30px;
    box-sizing: border-box;
    margin-left: 45%;
    position: relative;
}
.a3{
    margin-top: 200px;
    text-align: center;
    color: greenyellow;
    font-size: 25px;
}
.b2{
    color: cyan;
    font-size: 25px;
    text-align: center;
}